.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.send-mail-1 {
    background-color: aqua;
    padding: 12px 4px;
    border-radius: 8px;
    cursor: pointer;
}
