.container {
    margin-top: 56px;
    display: flex;
    height: calc(100vh - 56px);
    max-height: 100vh;
    overflow: hidden;
}

.side-bar {
    width: 22%;
}

.msg {
    flex: 1;
}

.info {
    width: 18%;
}
