.wrapper {
    display: flex;
    justify-content: center;
    background-color: #f0f2f5;
}

.container {
    background-color: #fff;
    width: 680px;
    margin-top: 16px;
    border-radius: 8px;
    .h {
        padding: 16px;
    }
}

.content {
    .item {
        display: flex;
        padding: 8px;
        margin: 0 8px;
        border-radius: 8px;
        cursor: pointer;
        &:hover {
            background-color: #f2f2f2;
        }
        .img {
            height: 60px;
            width: 60px;
            margin-right: 16px;
            img {
                height: 100%;
                width: 100%;
                border-radius: 50%;
            }
        }
    }
}
