.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    background-color: rgba(246, 239, 231, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 525px;
    background-color: #fff;
    border-radius: 8px;
    max-height: 80%;
    overflow-y: auto;
}
.header {
    display: flex;
    height: 60px;
    position: relative;
    .user {
        display: flex;
        .img {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background-color: antiquewhite;
            justify-content: center;
            align-items: center;
            margin-right: 8px;
            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }
        .info {
            display: flex;
            .time {
                position: relative;
                margin-right: 10px;
            }
        }
    }
    h1 {
        width: 465px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .close {
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        .icon {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background-color: #e4e6eb;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    &::before {
        content: '';
        width: 100%;
        height: 1px;
        background-color: #cfd1d5;
        position: absolute;
        top: 60px;
    }
}

.content {
    .user {
        display: flex;
        height: 72px;
        padding: 16px 0;
        margin: 0 16px;
        .avatar {
            margin-right: 8px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .status-post {
            display: flex;
            gap: 8px;
            .option {
                padding: 6px;
                background-color: #cfd1d5;
                border-radius: 8px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    .input {
        .work {
            height: 80px;
            padding: 0 16px 40px 16px;
            textarea {
                height: 100%;
                width: 100%;
                font-size: 25px;
            }
        }
    }
    .images {
        width: 100%;
        padding: 1%;
        img {
            border-radius: 8px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        video {
            border-radius: 8px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.share {
    margin: 0 16px 8px 16px;
    border: #cfd1d5 1px solid;
    border-radius: 16px;
    .header {
        &::before {
            content: none;
        }
    }
    .content {
        margin-left: 16px;
        margin-right: 16px;
        padding-bottom: 12px;
    }
}

.footer {
    margin-bottom: 16px;
    position: relative;
    .more {
        height: 58px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 0;
        margin: 0 16px;
        border-radius: 8px;
        border: 1px solid #ccc;
        box-shadow: 1px 1px 0 0 #888888;
        padding: 8px;
        .icon {
            height: 25px;
            width: 25px;
            margin: 0 8px;
            cursor: pointer;
        }
        .green {
            color: #45bd62;
        }
        .blue {
            color: #1877f2;
        }
        .orange {
            color: #f7b928;
        }
        .red {
            color: #f5533d;
        }
        .light-blue {
            color: #00a5f4;
        }
    }
    .btn-share,
    .up {
        margin: 0 16px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        margin-top: 24px;

        button {
            background-color: transparent;
        }
    }
    .up {
        background-color: #e4e6eb;
        cursor: not-allowed;
        opacity: 0.5;
    }
    .done,
    .btn-share {
        opacity: 1;
        background-color: #2375e1;
        color: #fff;
        cursor: pointer;
    }
}

.option-container {
    width: 525px;
    background-color: #fff;
    border-radius: 8px;
}

.option-content {
    padding: 8px;
}

.option-option-item {
    display: flex;
    align-items: center;
    padding: 0 8px;
    height: 72px;
    margin: 8px 0;
    cursor: pointer;
    .option-icon {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e4e6eb;
        margin-right: 8px;
    }
    .option-des {
        width: 387px;
    }
    input {
        width: 25px;
        height: 25px;
    }
    &:hover {
        background-color: #f2f2f2;
    }
}

.option-footer {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 12px;
    .option-done {
        width: 113px;
        height: 36px;
        background-color: #1b74e4;
        border-radius: 8px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 12px;
        cursor: pointer;
    }
}

.add-album {
    padding: 8px;
    border-radius: 6px;
    position: absolute;
    background-color: #fff;
    border: 1px solid #888888;
    top: -180px;
    .action {
        display: flex;
        gap: 8px;
        p {
            padding: 6px;
            border-radius: 6px;
            cursor: pointer;
            .active {
                background-color: #06e73f;
            }
            &:hover {
                background-color: #cfd1d5;
            }
        }
        .active {
            background-color: #81afeb !important;
            color: #fff;
        }
    }
    .input-album {
        border: 1px solid #ccc;
        height: 40px;
        border-radius: 6px;
        width: 100%;
        margin-top: 24px;
        padding-left: 8px;
    }
    .btn {
        display: flex;
        gap: 10px;
        .btn-add-album {
            padding: 8px 12px;
            margin-top: 24px;
            text-align: center;
            background-color: #2375e1;
            color: #fff;
            border-radius: 6px;
            cursor: pointer;
            width: 50%;
            &:hover {
                opacity: 0.8;
            }
        }
        .btn-cencel-album {
            padding: 8px 12px;
            margin-top: 24px;
            text-align: center;
            background-color: #f5533d;
            color: #fff;
            border-radius: 6px;
            cursor: pointer;
            width: 50%;
            &:hover {
                opacity: 0.8;
            }
        }
    }
}

@media (max-width: 480px) {
    .container {
        width: 95%;
    }
    .more {
        h4 {
            font-size: 14px;
        }
        .icon-more {
            .icon {
                margin: 3px;
                width: 20px;
            }
        }
    }
}
