.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f2f5;
    min-height: calc(100vh - 56px);
}

.status {
    width: 800px;
}

@media (max-width: 480px) {
    .wrapper {
        align-items: flex-start;
    }
    .status {
        min-width: 0;
        width: 100%;
    }
}
