.wrapper {
    background-color: transparent;
    border-radius: 8px;
}

.item-user {
    &:hover {
        background-color: transparent;
    }
}

.children {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
