.container {
    margin-top: 56px;
    display: flex;
    height: calc(100vh - 56px);
}

.side-bar {
    width: 22%;
}

.msg {
    flex: 1;
}

.info {
    width: 18%;
}

@media (max-width: 480px) {
    .info {
        display: none;
    }
    .msg {
        width: 100px;
    }
}
