.container {
    margin-top: 56px;
    display: flex;
    height: calc(100vh - 56px);
}

.side-bar {
    width: 22%;
}

.msg {
    flex: 1;
}

.info {
    width: 18%;
}

@media (max-width: 480px) {
    .info {
        display: none;
    }
    .msg {
        width: 100px;
    }
    .side-bar {
        display: none;
    }
    .open-side {
        display: block;
        position: fixed;
        background-color: aliceblue;
        width: 35%;
        z-index: 10;
        animation: slideRight 1s ease-in-out;
    }
    @keyframes slideRight {
        from {
            transform: translateX(-100%);
        }
        to {
            transform: translateX(0);
        }
    }
}
