.wrapper {
    margin-top: 8px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 4px;
    position: relative;
    .h-option {
        display: flex;
        .icon-option {
            height: 37px;
            width: 37px;
            border-radius: 50%;
            background-color: #ccc;
            margin: 0 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    }
    &::after {
        content: '';
        background-color: #d4d4d4;
        width: 100%;
        height: 1px;
        position: absolute;
        top: 50px;
        right: 0;
    }
}

.container {
    margin-top: 8px;
    margin-left: 8px;
    height: 80vh;
    overflow-y: auto;
}

@media (max-width: 480px) {
    .wrapper {
        margin-top: 0;
    }
    .header {
        .h-option {
            display: none;
        }
    }
    .container {
        height: 100vh;
    }
}
