.wrapper {
    box-shadow: 0 0 2px rgb(0 0 0 / 20%);
}

.header {
    padding: 8px;
    height: 58px;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 20%);
    display: flex;
    .img {
        width: 40px;
        height: 40px;
        display: flex;
        margin-right: 16px;
        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }
}

.container {
    overflow-y: auto;
    padding-left: 8px;
    height: calc(100vh - 56px - 58px - 56px);
}

.footer {
    height: 56px;
    display: flex;
    align-items: center;
    //justify-content: space-between;
    .icon-f {
        margin: 0 4px;
        color: #1685fc;
    }
    .input {
        height: 40px;
        background-color: #f0f2f5;
        border-radius: 16px;
        padding: 8px;
        display: flex;
        flex: 1;
        align-items: center;
        textarea {
            flex: 1;
            font-size: 16px;
            background-color: transparent;
            padding-right: 16px;
        }
        .emoji {
            position: relative;
            .table-emoji {
                position: absolute;
                bottom: 50px;
                right: 0;
            }
        }
    }
}
.form {
    display: flex;
    flex: 1;
}
