.wrapper {
    min-height: 1000px;
    background-color: #f0f2f5;
    margin-top: 56px;
}

.container {
    display: flex;
}

.content {
    flex: 1;
    margin: 8px 20% 0 25%;
}

.side-bar-l {
    width: 22%;
    margin-right: 3%;
    height: 100vh;
    overflow-y: auto;
    position: fixed;
}

.side-bar-r {
    width: 18%;
    margin-left: 2%;
    height: 100vh;
    overflow-y: auto;
    position: fixed;
    right: 0;
}

@media (max-width: 480px) {
    .side-bar-l {
        display: none;
    }
    .open-side {
        display: block;
        position: fixed;
        width: 80%;
        background-color: aliceblue;
        z-index: 10;
        animation: slideRight 1s ease-in-out;
    }
    @keyframes slideRight {
        from {
            transform: translateX(-100%);
        }
        to {
            transform: translateX(0);
        }
    }
    .side-bar-r {
        display: none;
    }
    .content {
        margin: auto;
    }
}
